.main{

}
.main_form{
    display: flex;
    float: right;
    position: sticky;
    top: 0;
    margin-top: 40px;

}
.form-group{
    display: grid;
}
.form{

    display: table;

    margin-right: 100px;
    width: 400px;
    height: 200px;
}
.form_block{
    display: table-cell;
}
.form-control{
    font-size: 20px;
}
ul{
    display: flex;
    margin: 0;
    padding: 4px;



}
ul li{
    display: inline;
    margin-right: 5px;
    padding: 3px;
    margin-bottom: 2px;

}
ul div{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: auto;
}
.sort{
    display: flex;
    justify-content: space-between;
    background-color: ghostwhite;
    margin: 3px 600px 0 0;
}
.sort_asana{
    background-color: palevioletred;
    border: 1px solid #000;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
}
.ul_sort_name{
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    margin: 10px;

}
a{
    text-decoration: none;
    color: black;
    text-align: center;
}
.sort_id{
    width: 20px;
    height: auto;
    margin-left: 10px;
    font-size: 20px;
}
.sort_id li{
    justify-content: center;
}
.sort_time{
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    width: 30px;
}